body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

header {
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    align-items: center;
    box-sizing: border-box;
}

nav div {
    position: relative;
    padding: 270px;
    bottom: 230px;
    right: 150px;
    box-sizing: border-box;
}

nav .sl {
    display: flex;
    transform: rotate(270deg);
    box-sizing: border-box;
}

nav .sl h1:first-child,
hr {
    margin-right: 20px;
}

/* .sectionone{
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
}
.sectionone img{
    width: 131%;
    box-sizing: border-box;
    position: relative;
    right: 377px;
    overflow: hidden;
}
.sectionone h5{
    position: absolute;
    z-index: 1;
    top: 20%;
}

.sectionone h5:first-child{
    font-size: 25px;
    width: 40%;
    font-weight: unset;
    line-height: 53px;
    left: -500px;
}
.sectionone h5:nth-child(2){
    font-size: 130px;
    width: 80%;
    margin-top: 330px;
    left: -670px;
    font-weight: unset;
} */










/* .sectionone{
    position: relative;
    box-sizing: border-box;
}
.sectionone img{
    position: relative;
    float: right;
    height: 100%;
    width: 67%;
}
.sectionone h5{
    position: absolute;
    top: 20%;
    z-index:1;
    color: #5d5d5d;
}
.sectionone h5:nth-child(2){
    font-size: 130px;
    width: 40%;
    margin-top: 330px;
    left: 490px;
    font-weight: unset;   
    
}
.sectionone h5:nth-child(3){
    font-size: 25px;
    width: 20%;
    font-weight: unset;
    line-height: 53px;
    left: 670px;

}

 .sectiontwo{
     box-sizing: border-box;
     position: relative;
     top: 1770px;
     left: 430px;
 } */



.sectionone {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 12fr;
    grid-template-areas:
        "text main"
        "text main";
    height: 100vh;
    box-sizing: border-box;
    
}


.iamge h5 {
    position: relative;
    top: 20%;
    color: #5d5d5d;
}

.iamge h5:first-child {
    right: 137px;
    font-size: 25px;
    width: 31%;
    font-weight: unset;
    line-height: 41px;
}

.iamge h5:last-child {
    position: relative;
    font-size: 130px;
    width: 50%;
    font-weight: unset;
    top: 130px;
    right: 337px;
}

.iamge {
    background: url(/image/About_Header-1-1280x1300.webp) no-repeat;
    background-size: cover;
    display: block;
}




.sectiontwo {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 12fr;
    grid-template-areas:
        "text main"
        "text main";
    height: 85vh;
}

.sectiontwo .image2 img {
    position: relative;
    top: 90px;
    right: 357px;
    height: 100%;
    width: 40%;
    box-sizing: border-box;

}

.sectiontwo .image2 .txt2>h5 {
    position: relative;
    color: #5d5d5d;
}

.txt2 {
    position: relative;
    bottom: 50%;
    left: 30px;
}

.sectiontwo .image2 .txt2 h5:first-child {
    font-size: 97px;
    padding: 0;
    width: 45%;
    font-weight: unset;
    margin-bottom: 70px;
}

.sectiontwo .image2 .txt2 h5:last-child {
    font-size: 25px;
    font-weight: unset;
    line-height: 41px;
    width: 39%;
    left: 390px;
}





.sectiontri {
    display: grid;
    grid-template-columns: 5fr 6fr 1fr;
    grid-template-areas:
        "text main blok"
        "text main blok";
    height: 100vh;
    margin-bottom: 50px;
}

.sectiontri img {
    position: relative;
    width: 65%;
    left: 370px;
    top: 370px;
}

.sectiontri h5 {
    position: relative;
    font-size: 37px;
    font-weight: unset;
    font-style: italic;
    line-height: 59px;
    width: 113%;
    left: 600px;
    top: 27%;
    z-index: 1;
    color: #5d5d5d;
}

.sectiontri .blokbg {
    position: relative;
    height: 830px;
    width: 400px;
    background: #000;
    top: 35%;
    right: 300px;
    z-index: -1;
    background-color: #003b4a;
}



.sectionfour {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    color: #5d5d5d;
    box-sizing: border-box;
    position: relative;
}

.sectionfour img:first-child {
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column: 1 /3;
    grid-row: 1 / 3; */

    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    width: 197%;
}

.sectionfour img:nth-child(2) {
    grid-area: 2 / 1 / 2 / 1;
    position: relative;
    /* height: 100%; */
    left: 447px;
    width: 65%;
}

.sectionfour h5:nth-child(3){
    grid-area: 2 / 2 / 2 / 2;
    position: relative;
    /* height: 100%; */
    font-size: 97px;
    right: 40%;
    display: block;
    box-sizing: border-box;
}

.sectionfour h5:last-child {
    grid-area: 2 / 1 / 2 / 1;
    font-size: 25px;
    font-weight: unset;
    line-height: 41px;
    width: 59%;
    position: relative;
    /* left: 1400px; */
    left: 140%;
    bottom: 490px;
    color: #979998;
}

@media only screen and (max-width: 600px){
    .sectionone .iamge{
        width: 50%;
        b
    }
    }
    .sectiontwo .txt2 h5{
        position: relative;
        font-size: 1px;
    }
}