body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
a,
a:link,
a:visited{
    color: #333;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.grid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.grid > div{
    border-right: solid 1px black;
    height: 100%;
    width: 16.66%;
    flex: auto;
    flex-flow: 1;
    text-align: center;
}
.grid > div:last-child{
    border-right: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 70px 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-style: italic;
}
.navbar .brand{
    font-style: normal;
    color: #ba967d;
}
.navbar-bottom{
    transform: rotate(270deg) translateX(50px);
    
}
.navbar-bottom a:first-child{
    margin-right: 20px;
}
.navbar-bottom a:last-child{
    margin-left: 20px;
}
.navbar .menu{
    color: #ba967d;
}
.menu{
    position: relative;
    display: inline-block;
}
.menu > span:first-child,
.menu > span:last-child{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ba967d;
    margin-top: 10px;
    margin-bottom: 8px;
}
.menu > span:last-child{
    width: 60%;

}

/* First section parallax */
.first .parallax {
    min-height: 100vh;
    max-width: 66.68%;
    background: transparent;
}
.wrap-content{
    width: 66.68%;
    margin: 0 auto;
}